<div class="hero-head" id='hero-head'>
    <nav id="navbar" class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation" style="min-height: unset; ">
    <div class="container "> 
        <div id="navbar-brand" class="navbar-brand" style="min-height: unset; ">
            {%- assign default_paths = site.pages | map: "path" -%}
            {%- assign page_paths = site.header_pages | default: default_paths -%}
             <span class="navbar-item">
            {%- if page.lang == "es" -%}
                <a class="navbar-item" rel="author" href="{{ "/es/" | relative_url }}">
            {%- else -%} <a class="navbar-item" rel="author" href="{{ "/" | relative_url }}">
            {%- endif -%}
            <div class="box has-text-centered is-vcentered post" id='titleCard' style="display: table-cell;">
                <p id='siteTitleName' class="title is-2 has-text-dark">{{ site.title | escape }}</p>
                <p id='siteSubtitleName' class="subtitle is-6 has-text-dark title_card">{%- if page.lang == "es" -%}¡Las Cosas Se Hacen!{%- else -%}Getting Stuff Done!{%- endif -%}</p>
            </div>
            </a>
             </span>
        
          <span id="nav-burger" class="navbar-burger burger post" aria-label="menu" aria-expanded="false" style="min-width: unset;  height:120px; width:120px;" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        {%- if page_paths -%}
          <div class="navbar-end">
          <div class="navbar-menu" id="navMenu">
           {%- if page.lang == "es" -%}
            <a class="navbar-item navbar-item-shady is-3 post" href="/es/about">
             <span style="vertical-align:middle;">
              <i class="far fa-lg fa-address-card fa-fw is-left"></i> <strong>Acerca de</strong>
             </span>
           </a>
           <a class="navbar-item navbar-item-shady is-3 post" href="/es/blog">
             <span style="vertical-align:middle;">
              <i class="far fa-lg fa-file-alt fa-fw is-left"></i> <strong>Blog</strong>
             </span>
           </a>
           {%- else -%}
            <a class="navbar-item navbar-item-shady is-3 post" href="/about">
             <span style="vertical-align:middle;">
              <i class="far fa-lg fa-address-card fa-fw is-left"></i> <strong>About</strong>
             </span>
           </a>
           <a class="navbar-item navbar-item-shady is-3 post" href="/blog">
             <span style="vertical-align:middle;">
              <i class="far fa-lg fa-file-alt fa-fw is-left post"></i> <strong>Blog</strong>
             </span>
           </a>
           {%- endif -%}
            <hr class="navbar-divider">
            {%- assign post_encontrado = false -%}
            {%- assign idiom_post = "es" -%}
            {%- assign idiom_post_url = "" -%}
            {%- for post in site.posts -%}
                {%- if post.tpar == page.tpar -%}
                    {%- if page.lang != post.lang and page.lang == "en" -%}
                        {%- assign idiom_post_url = post.url -%}
                        {%- assign post_encontrado = true -%}
                        {%- break -%}
                    {%- endif -%}
                    {%- if page.lang != post.lang and page.lang == "es" -%}
                        {%- assign idiom_post_url = post.url -%}
                        {%- assign idiom_post = "en" -%}
                        {%- assign post_encontrado = true -%}
                        {%- break -%}
                    {%- endif -%}
                {%- endif -%}
            {%- endfor -%}
            {%- if post_encontrado -%}
                <a class="navbar-item navbar-item-shady is-3 post" href="{{ idiom_post_url }}">
                  <span style="vertical-align:middle;">    
                    <i class="fas fa-lg fa-language fa-fw is-left post" data-fa-transform="shrink-6 up-.5" data-fa-mask="fas fa-comment" data-fa-mask-id="comment"></i>
                    <strong>{%- if idiom_post == "es" -%}Español{%- else -%}English{%- endif -%}</strong>
                 </span>
                </a>
            {%- else -%}
                {%- if page.lang == "en" -%}
                 <a class="{{ post.lang }} navbar-item navbar-item-shady post" href="{{ page.es_ver }}">
                  <span style="vertical-align:middle;">    
                    <i class="fas fa-lg fa-language fa-fw is-left" data-fa-transform="shrink-6 up-.5" data-fa-mask="fas fa-comment" data-fa-mask-id="comment"></i>
                    <strong>Español</strong>
                  </span>
                </a> 
                {%- endif -%}
                {%- if page.lang == "es" -%}
                <a class="{{ post.lang }} navbar-item navbar-item-shady post" href="{{ page.en_ver }}">
                  <span style="vertical-align:middle;">    
                    <i class="fas fa-lg fa-language fa-fw is-left" data-fa-transform="shrink-6 up-.5" data-fa-mask="fas fa-comment" data-fa-mask-id="comment"></i>
                    <strong>English</strong>
                  </span>
                </a> 
                {%- endif -%}
            {%- endif -%}
            </div>
          </div>
        {%- endif -%}
        <!-- make the burger menu work -->
        </div>
    </nav>
</div>
