extends ../componentes/post_layout.pug
block prepend head
  - type = 'list_of_post'
block encabezado
block content
  #desc
block append scripts
  script( src="../componentes/js/list_logic.js" type="module" )
