.shoot{
  position: absolute;
  width: 8rem;
  height: 10vh;
  opacity: 0.90;
  overflow:hidden;
}

.shootb{
  position: absolute;
  width: 11rem;
  height: 14vh;
  opacity: 0.90;
  overflow:hidden;
}

.shoots{
  position: absolute;
  width: 6rem;
  height: 7.5vh;
  opacity: 0.90;
  overflow:hidden;
}

.svg_shape{
    position:absolute;
    left:0; top:0; width:100%; height:100%
}

.cloud1{
    top:18vh;
    left:20%;
    animation: cloud_move 4s linear infinite both;
    animation-delay: -0.5s;
}
.cloud2{
    top:35vh;
    left:50%;
    animation: cloud_move 4s linear infinite both;
}
.cloud3{
    top:43vh;
    left:50%;
    animation: cloud_move 6s linear infinite both;
    animation-delay: -2s;
}
.cloud4{
    top:48vh;
    animation: cloud_move 2s linear infinite both;
    animation-delay: -1s;
}
.cloud5{
    top:62vh;
    animation: cloud_move 6s linear infinite both;
}

.cloud6{
    top:70vh;
    animation: cloud_move 4s linear infinite both;
}
.cloud7{
    top:38vh;
    animation: cloud_move 6s linear infinite both;
    animation-delay: -5s;
}
.cloud8{
    top:73vh;
    animation: cloud_move 6s linear infinite both;
    animation-delay: -4s;
}
.cloud9{
    top:50vh;
    animation: cloud_move 7s linear infinite both;
    animation-delay: -0.2s;
}


.plane{
  position: absolute;
  width: 20vw;
  height: max(15vh, 400px);
  overflow: hidden;
}

.dino{
    top:50vh;
    animation: dino_plane 30s ease-in-out infinite both;
}

.testdiv{
background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 125 125' class='svg_shape' version='1.0' width='111.161' height='112.389' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3clinearGradient id='pyc'%3e%3cstop style='stop-color:%23b8b8b8;stop-opacity:.49803922' offset='0'/%3e%3cstop style='stop-color:%237f7f7f;stop-opacity:0' offset='1'/%3e%3c/linearGradient%3e%3clinearGradient id='pya'%3e%3cstop style='stop-color:%23ffd43b;stop-opacity:1' offset='0'/%3e%3cstop style='stop-color:%23ffe873;stop-opacity:1' offset='1'/%3e%3c/linearGradient%3e%3clinearGradient id='pyb'%3e%3cstop style='stop-color:%235a9fd4;stop-opacity:1' offset='0'/%3e%3cstop style='stop-color:%23306998;stop-opacity:1' offset='1'/%3e%3c/linearGradient%3e%3clinearGradient xlink:href='%23pya' id='pye' gradientUnits='userSpaceOnUse' gradientTransform='matrix(.56254 0 0 .56797 -14.991 -11.702)' x1='150.961' y1='192.352' x2='112.031' y2='137.273'/%3e%3clinearGradient xlink:href='%23pyb' id='pyd' gradientUnits='userSpaceOnUse' gradientTransform='matrix(.56254 0 0 .56797 -14.991 -11.702)' x1='26.649' y1='20.604' x2='135.665' y2='114.398'/%3e%3c/defs%3e%3cpath style='fill:url(%23pyd);fill-opacity:1' d='M54.919 0c-4.584.022-8.961.413-12.813 1.095C30.76 3.099 28.7 7.295 28.7 15.032v10.219h26.813v3.406H18.638c-7.793 0-14.616 4.684-16.75 13.594-2.462 10.213-2.571 16.586 0 27.25 1.905 7.938 6.457 13.594 14.25 13.594h9.218v-12.25c0-8.85 7.657-16.657 16.75-16.657h26.782c7.454 0 13.406-6.138 13.406-13.625v-25.53c0-7.267-6.13-12.726-13.406-13.938C64.282.328 59.502-.02 54.918 0zm-14.5 8.22c2.77 0 5.031 2.298 5.031 5.125 0 2.816-2.262 5.093-5.031 5.093-2.78 0-5.031-2.277-5.031-5.093 0-2.827 2.251-5.125 5.03-5.125z'/%3e%3cpath style='fill:url(%23pye);fill-opacity:1' d='M85.638 28.657v11.906c0 9.231-7.826 17-16.75 17H42.106c-7.336 0-13.406 6.279-13.406 13.625V96.72c0 7.266 6.319 11.54 13.406 13.625 8.488 2.495 16.627 2.946 26.782 0 6.75-1.955 13.406-5.888 13.406-13.625V86.5H55.513v-3.405H95.7c7.792 0 10.696-5.436 13.406-13.594 2.8-8.399 2.68-16.476 0-27.25-1.925-7.758-5.604-13.594-13.406-13.594zM70.575 93.313c2.78 0 5.031 2.278 5.031 5.094 0 2.827-2.251 5.125-5.031 5.125-2.77 0-5.031-2.298-5.031-5.125 0-2.816 2.261-5.094 5.031-5.094z'/%3e%3cpath d='M93.745 13.66h1.127V7.56h2.67v-.727h-6.466v.727h2.67v6.098m4.794 0h.963V8.09l2.09 5.57h1.07l2.178-5.55v5.55h1.05V6.834h-1.39l-2.378 5.847-2.03-5.847H98.54v6.825' style='font-style:normal;font-weight:400;font-size:15.1645px;line-height:125%25;font-family:'Bitstream Vera Sans';fill:%23646464;fill-opacity:1;stroke:none;stroke-width:.670095px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1'/%3e%3c/svg%3e");
}

.center-shoot{
  position: relative;
  display: inline;
  padding-left: 1.2em;
  width: 0.9rem;
  height: 0.9rem;
  top: 0rem;
  overflow: hidden;
}


.svg-bottom{
  position: relative;
  width: 30%;
  height: 9rem;
  left: 35% ;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.svg-bottom-b{
  position: relative;
  width: max(30% , 150px);
  left: min(35%, calc(50% - 75px) );
  overflow: hidden;
  padding: 1rem;
}

.svg-bottom-small{
  position: relative;
  height: 5rem;
  overflow: hidden;
  top:1rem;
  margin-bottom: 1rem;
}

.svg-grid-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:5rem;
    top:1rem;
    margin-bottom: 1rem;
}

.svg-bottom-small-r{
  position: relative;
  width: 40%;
  height: 5rem;
  left: 5%;
  padding: 1rem;
}

.svg-bottom-small-l{
  position: relative;
  width: 40%;
  height: 5rem;
  left: 55%;
  padding: 1rem;
}


.bird-contact{
  position: absolute;
  width: max(25vw , 250px);
  height: 30rem;
  left: min(37.5%, calc(50% - 125px) );
  top: 20%;
  overflow: hidden;
}

.hacker{
  top: 0vh; 
  left: 0.5rem;
  position: relative;
  letter-spacing: 0.15em;
  font-size: max(4vw , 3em);
  word-break: break-all;
  opacity:0.25;
}

.ratio {
  position: absolute;
  display: grid;
  left:100%;
  width: 100%;
  transform: translate(-100%,0);
}
.ratio > * {
  grid-area: 1/1;
}

.bird-wing-a{
    transform-origin: 25% 30%;
    animation: wing_move 4s ease-in infinite both;
}

.bird-wing-b{
    transform-origin: 30% 35%;
    animation: wing_move 4s ease-in infinite both;
}

.bird-head{
    transform-origin: 50% 38%;
    animation: b_head_move 4s ease-in infinite both;
}


@keyframes wing_move{ 
    0% { transform: rotate(0deg);}
    15% { transform: rotate(25deg);}
    30% { transform: rotate(-1deg);}
    90% { transform: rotate(25deg); }
    95% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); } }

@keyframes b_head_move{ 
    0% { transform: rotate(0deg);}
    15% { transform: rotate(-5deg);}
    90% { transform: rotate(2deg); }
    92% { transform: rotate(5deg); }
    95% { transform: rotate(3deg); }
    100% { transform: rotate(0deg);} }

@keyframes dino_plane{
  0%   { left:65vw; transform: scale(0.7,0.7) skew(6deg); }
  5%   { top:20vh; left:35vw; transform: scale(1.2,1.2); }
  25%  { top:60vh; transform: scale(1,1); }
  50%  { left:60vw; transform: scale(0.5,0.5); }
  60%  { top:50vh; left:30vw; transform: scale(0.7,0.7); }
  75%  { top:60vh; left:50vw; transform: scale(1,1); }
  80%  { top:20vh; left:10vw; transform: scale(1.5,1.5) skew(6deg); }
  100% { left:65vw; transform: scale(0.7,0.7); }
}

@keyframes cloud_move{ 
    from {left: calc(0% - 20rem);  }
    to { left: 100%; } }

/* ----------------------------------------------
 * Generated by Animista on 2021-6-16 20:54:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.jello-horizontal{-webkit-animation:jello-horizontal 1.5s infinite both;animation:jello-horizontal 1.5s infinite both}
.wobble-hor-bottom{-webkit-animation:wobble-hor-bottom 5s ease-in-out infinite alternate-reverse both;animation:wobble-hor-bottom 5s ease-in-out infinite alternate-reverse both}
@-webkit-keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}
@-webkit-keyframes wobble-hor-bottom{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}@keyframes wobble-hor-bottom{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}15%{-webkit-transform:translateX(-30px) rotate(-6deg);transform:translateX(-30px) rotate(-6deg)}30%{-webkit-transform:translateX(15px) rotate(6deg);transform:translateX(15px) rotate(6deg)}45%{-webkit-transform:translateX(-15px) rotate(-3.6deg);transform:translateX(-15px) rotate(-3.6deg)}60%{-webkit-transform:translateX(9px) rotate(2.4deg);transform:translateX(9px) rotate(2.4deg)}75%{-webkit-transform:translateX(-6px) rotate(-1.2deg);transform:translateX(-6px) rotate(-1.2deg)}}