
.shoot{
  position: absolute;
  width: 8rem;
  height: 10vh;
  opacity: 0.90;
  overflow:hidden;
}

.shootb{
  position: absolute;
  width: 11rem;
  height: 14vh;
  opacity: 0.90;
  overflow:hidden;
}

.shoots{
  position: absolute;
  width: 6rem;
  height: 7.5vh;
  opacity: 0.90;
  overflow:hidden;
}

.svg_shape{
    position:absolute;
    left:0; top:0; width:100%; height:100%
}

.cloud1{
    top:18vh;
    left:20%;
    animation: cloud_move 4s linear infinite both;
    animation-delay: -0.5s;
}
.cloud2{
    top:35vh;
    left:50%;
    animation: cloud_move 4s linear infinite both;
}
.cloud3{
    top:43vh;
    left:50%;
    animation: cloud_move 6s linear infinite both;
    animation-delay: -2s;
}
.cloud4{
    top:48vh;
    animation: cloud_move 2s linear infinite both;
    animation-delay: -1s;
}
.cloud5{
    top:62vh;
    animation: cloud_move 6s linear infinite both;
}

.cloud6{
    top:70vh;
    animation: cloud_move 4s linear infinite both;
}
.cloud7{
    top:38vh;
    animation: cloud_move 6s linear infinite both;
    animation-delay: -5s;
}
.cloud8{
    top:73vh;
    animation: cloud_move 6s linear infinite both;
    animation-delay: -4s;
}
.cloud9{
    top:50vh;
    animation: cloud_move 7s linear infinite both;
    animation-delay: -0.2s;
}


.plane{
  position: absolute;
  width: 20vw;
  height: max(15vh, 400px);
  overflow: hidden;
}

.dino{
    top:50vh;
    animation: dino_plane 30s ease-in-out infinite both;
}

.center-shoot{
  position: absolute;
  left:45vw; 
  top:45vh;
  width: 10vw;
  height: 10vh;
  overflow:hidden;
  visibility:hidden;
}

.ctr-monitor{
  position: absolute;
  width: 20vw;
  height: 30vh;
  left: 40%;
  top: 35%;
  overflow: hidden;
}

.bird-contact{
  position: absolute;
  width: max(25vw , 250px);
  height: 30rem;
  left: min(37.5%, calc(50% - 125px) );
  top: 20%;
  overflow: hidden;
}

.hacker{
  top: 0vh; 
  left: 0.5rem;
  position: relative; 
}

.hacker::before {
    content:'';
    position: relative; 
    background:linear-gradient(red 150px, white);
}


.ratio {
  position: absolute;
  display: grid;
  left:100%;
  width: 100%;
  transform: translate(-100%,0);
}
.ratio > * {
  grid-area: 1/1;
}

.bird-wing-a{
    transform-origin: 25% 20%;
    animation: wing_move 4s ease-in infinite both;
}

.bird-wing-b{
    transform-origin: 40% 25%;
    animation: wing_move 4s ease-in infinite both;
}

.bird-head{
    transform-origin: 50% 38%;
    animation: b_head_move 4s ease-in infinite both;
}

@keyframes wing_move{ 
    0% { transform: rotate(0deg);}
    15% { transform: rotate(25deg);}
    30% { transform: rotate(-5deg);}
    90% { transform: rotate(25deg); }
    95% { transform: rotate(-19deg); }
    100% { transform: rotate(0deg); } }

@keyframes b_head_move{ 
    0% { transform: rotate(0deg);}
    15% { transform: rotate(-5deg);}
    90% { transform: rotate(10deg); }
    92% { transform: rotate(12deg); }
    95% { transform: rotate(18deg); }
    100% { transform: rotate(0deg);} }

.to_20 { animation: move_20  1.5s ease-in-out infinite both; }
.to_45 { animation: move_45  1.5s ease-in-out infinite both; }
.to_60 { animation: move_60  1.5s ease-in-out infinite both; }
.to_90 { animation: move_90  1.5s ease-in-out infinite both; }
.to_110{ animation: move_110 1.5s ease-in-out infinite both; }
.to_135{ animation: move_135 1.5s ease-in-out infinite both; }
.to_160{ animation: move_160 1.5s ease-in-out infinite both; }
.to_spin{ animation: spin 1.5s ease-out infinite both; }

@keyframes dino_plane{
  0%   { left:65vw; transform: scale(0.7,0.7) skew(6deg); }
  5%   { top:20vh; left:35vw; transform: scale(1.2,1.2); }
  25%  { top:60vh; transform: scale(1,1); }
  50%  { left:60vw; transform: scale(0.5,0.5); }
  60%  { top:50vh; left:30vw; transform: scale(0.7,0.7); }
  75%  { top:60vh; left:50vw; transform: scale(1,1); }
  80%  { top:20vh; left:10vw; transform: scale(1.5,1.5) skew(6deg); }
  100% { left:65vw; transform: scale(0.7,0.7); }
}

@keyframes cloud_move{ 
    from {left: calc(0% - 20rem);  }
    to { left: 100%; } }

@keyframes move_20{
  0%   {  opacity: 0; left:45%; top:45%; visibility:hidden; }
  30%  {  opacity: 0; left:45%; top:45%; transform: scale(0.1,0.1); visibility:visible; }
  70%  {  opacity: 1; left:67%; top:40%; transform: scale(1,1);  }
  100% {  opacity: 0; left:67%; top:35%; transform: scale(0.1,0.1); visibility:hidden; } }
@keyframes move_45{
  0%   {  opacity: 0; left:45%; top:45%; visibility:hidden;}
  30%   {  opacity: 0; left:45%; top:45%; transform: scale(0.1,0.1); visibility:visible; }
  70%  {  opacity: 1; left:64%; top:28%; transform: scale(1,1);  }
  100% {  opacity: 0; left:64%; top:23%; transform: scale(0.1,0.1); visibility:hidden; } }
@keyframes move_60{
  0%   {  opacity: 0; left:45%; top:45%; visibility:hidden;}
  30%   {  opacity: 0; left:45%; top:45%; transform: scale(0.1,0.1); visibility:visible; }
  70%  {  opacity: 1; left:55%; top:18%; transform: scale(1,1);  }
  100% {  opacity: 0; left:55%; top:13%; transform: scale(0.1,0.1); visibility:hidden; } }
@keyframes move_90{
  0%   {  opacity: 0; left:45%; top:45%; visibility:hidden;}
  30%   {  opacity: 0; left:45%; top:45%; transform: scale(0.1,0.1); visibility:visible; }
  70%  {  opacity: 1; left:45%; top:12%; transform: scale(1,1);  }
  100% {  opacity: 0; left:45%; top:7%; transform: scale(0.1,0.1); visibility:hidden; } }
@keyframes move_110{
  0%   {  opacity: 0; left:45%; top:45%;visibility:hidden;  }
  30%  {  opacity: 0; left:45%; top:45%; transform: scale(0.1,0.1); visibility:visible; }
  70%  {  opacity: 1; left:35%; top:18%; transform: scale(1,1);  }
  100% {  opacity: 0; left:35%; top:13%; transform: scale(0.1,0.1); visibility:hidden; } }
@keyframes move_135{
  0%   {  opacity: 0; left:45%; top:45%;visibility:hidden; }
  30%   {  opacity: 0; left:45%; top:45%; transform: scale(0.1,0.1); visibility:visible; }
  70%  {  opacity: 1; left:26%; top:28%; transform: scale(1,1);  }
  100% {  opacity: 0; left:26%; top:23%; transform: scale(0.1,0.1); visibility:hidden; } }
@keyframes move_160{
  0%   {  opacity: 0; left:45%; top:45%; visibility:hidden;}
  30%   {  opacity: 0; left:45%; top:45%; transform: scale(0.1,0.1); visibility:visible; }
  70%  {  opacity: 1; left:22%; top:40%; transform: scale(1,1);  }
  100% {  opacity: 0; left:22%; top:35%; transform: scale(0.1,0.1); visibility:hidden; } }
  
@keyframes spin{
 from {transform: rotate(0deg)}
 to { transform: rotate(720deg);}
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-16 20:54:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.jello-horizontal{-webkit-animation:jello-horizontal 1.5s infinite both;animation:jello-horizontal 1.5s infinite both}
@-webkit-keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}
