---
title: Blog
layout: default
---

<div class="blog">
  {%- if page.title -%}
    <h1 class="page-heading"></h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}

    
    <div class="columns is-centered">
        <div class="column is-full-mobile is-6-desktop text-show"> 
        <h3 class="title post-list-heading">{{ page.title }}</h3>
      {%- for post in site.posts -%}
      {% if post.lang == page.lang %}
      
            <div class="shady_box is-full-mobile">
	        <p class='title is-4'>{{ post.title | escape }}</p>
	        
		    {% if page.lang == 'en' %}
                <p class="post-meta subtitle is-6 is-italic">~Posted at {{ post.date | date: "%B %d of %Y" }}~</p>
            {% endif %}

            {% if page.lang == 'es' %}
                <p class="post-meta subtitle is-6 is-italic" >~Publicado el {{post.date | date: "%d de " }}
                {% assign m = post.date | date: "%-m" %}
                {% case m %}
                        {% when  '1' %}Enero
                        {% when  '2' %}Febrero
                        {% when  '3' %}Marzo
                        {% when  '4' %}Abril
                        {% when  '5' %}Mayo
                        {% when  '6' %}Junio
                        {% when  '7' %}Julio
                        {% when  '8' %}Agosto
                        {% when  '9' %}Septiembre
                        {% when '10' %}Octubre
                        {% when '11' %}Noviembre
                        {% when '12' %}Diciembre
                {% endcase %}{{ post.date | date: "%Y" }}~</p>
            {% endif %}
	        
	        {%- if site.show_excerpts -%}
	          <p class='subtitle is-4'>{{ post.excerpt }}</p>
	        {%- endif -%}
            
            {% if page.lang == 'en' %} 
               <a class="is-right" href="{{ post.url | relative_url }}">Keep reading...</a>
            {% endif %}
            {% if page.lang == 'es' %}
               <a class="is-right" href="{{ post.url | relative_url }}">Continuar leyendo...</a>
            {% endif %}
            </div>

        {%- endif -%}
      {%- endfor -%}
        </div>
    </div>
    <!--p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p -->
  {%- endif -%}

</div>
