<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  
  {%- include head.html -%}

  <body>
    <canvas id="main-canvas" class="canvas_bg" ></canvas>
    <section class="hero is-fullheight is-primary" id='hero'>
      {%- include header.html -%}
      <div class="hero-body">
          <div class="container">
              <div class="content has-text-centered">
                <h1 class="title is-size-1 post-slow has-text-white-bis">Osvaldo Barajas Fierros</h1>
                <h2 id ="skills" class="subtitle is-size-2 is-family-monospace has-text-white-ter post-v-slow">
                  {%- if page.lang == 'es' -%}es{%- else -%}en{%- endif -%}
                </h2>
            </div>
        </div>
      </div>
        
          {% comment %}
        <h4>
          <span class="is-size-4 " style="vertical-align:middle;"><i class="far fa-lg fa-address-card is-left"></i> <strong>Contacto</strong></span>
        </h4>
        {%- include social.html -%}
        {% endcomment %} 
        <footer class="hero-foot">
        </footer>
    </section>

    <!-- Begin About Me Section -->
    <section class="hero is-fullheight is-grey-lighter" id='about'>
        <!-- <canvas id="about-canvas" class="section is-fullheight" ></canvas>  -->
      <div class="hero-body">
        <div class="container">
          <div class='columns is-centered is-dark'>
              <div class='column is-9 is-vcentered has-text-centered'>
                  <div class='info_box'>
                    <h1 class="title"> <i class="fas fa-lg fa-id-badge fa-fw has-text-white-ter"></i></h1>
                    <h1 class="title has-text-white-bis">{%- if page.lang == 'es' -%} Acerca De Mi...{%- else -%} About Me... {%- endif -%}</h1>
                      <div class='px-4 has-text-white-ter'>
                        {%- if page.lang == 'es' -%} 
                        <p>Soy un desarrollador quien ha experimentado con distintos lenguajes de programación y varios enfoques diferentes a lo largo de los años.</p>
                        <p>Enfocado en crear experiencias y software que sea tanto simple como directo.</p>
                        {%- else -%}
                        <p>I am a developer who has experimented with different programming languages and several different approaches over the years.</p>
                        <p>Focused on creating experiences and software that is both simple and straightforward.</p>
                        {%- endif -%}
                      </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
    </section>

  <section class="hero is-fullheight is-link">
    <!-- <canvas id="about-canvas" class="section is-fullheight" ></canvas>  -->
    <div class="hero-body">
      <div class="container">
        <div class='columns is-centered is-dark'>
            <div class='column is-9 is-vcentered has-text-centered'>
                <div class='info_box'>
                  <h1 class="title"><i class="fas fa-lg fa-lg fa-address-card fa-fw"></i></h1>
                  <h1 class="title">{%- if page.lang == 'es' -%}Contacto{%- else -%}Contact{%- endif -%}</h1>
                    <div class='px-5 has-text-white-ter'>
                      
                      <div class='columns is-vcentered is-gapless'>
                        <div class="column">
                        </div>
                        <div class="column">
                          <span class="subtitle icon is-left" style="vertical-align:middle; display: inline-table;"><i class="far fa-lg fa-envelope fa-fw"></i></span>
                        </div>
                        <div class="column is-half has-text-left" style="vertical-align:middle; display: inline-table;" >
                          <a class="u-email subtitle is-size-6 is-italic has-text-white-ter" href="mailto:{{ site.email }}">calaverd.lua<wbr>@gmail.com</a>
                        </div>
                      </div>
        
                      <div class='columns is-vcentered is-gapless'>
                        <div class="column">
                        </div>
                        <div class="column">
                          <span class="subtitle icon is-left" style="vertical-align:middle;"><i class="fab fa-lg fa-github-alt fa-fw"></i></span>
                        </div>
                        <div class="column is-half has-text-left" style="vertical-align:middle; display: inline-table;" >
                          <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"  class="subtitle is-size-6 is-italic  has-text-white-ter"><span>{{ site.github_username| escape }}</span></a>
                        </div>
                      </div>
        
                      <div class='columns is-vcentered is-gapless'>
                        <div class="column">
                        </div>
                        <div class="column">
                          <span class="subtitle icon is-left" style="vertical-align:middle; display: inline-table;"><i class="fab fa-lg fa-twitter fa-fw"></i></span>
                        </div>
                        <div class="column is-half has-text-left" style="vertical-align:middle; display: inline-table;" >
                          <a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}" class="subtitle is-size-6 is-italic  has-text-white-ter"><span>{{ site.twitter_username| escape }}</span></a></li>
                        </div>
                      </div>
        
                      <div class='columns is-vcentered is-gapless'>
                        <div class="column">
                        </div>
                        <div class="column">
                          <span class="subtitle icon is-left" style="vertical-align:middle; display: inline-table;"><i class="fab fa-lg fa-itch-io fa-fw"></i></span>
                        </div>
                        <div class="column is-half has-text-left" style="vertical-align:middle; display: inline-table;" >
                          <a href="https://itch.io/profile/lacalaveraverde" class="subtitle is-size-6 is-italic  has-text-white-ter"><span>lacalaveraverde</span></a></li>
                        </div>
                      </div>

                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
  </section>


  {%- include footer.html -%}
  
  <script type="module" src="/assets/main_page/3d_render.mjs"></script>
  <script src="/assets/main_page/nms_text.js"></script>
  </body>
  {%- include scripts.html -%}

</html>

