<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>
    
    <section class="hero is-fullheight is-transparent is-bold" id='hero'>
      {%- include header.html -%}
      <div class="hero-body">
          <div class="container">
              <div class="content has-text-centered">
                <canvas id="computer-canvas" class="canvas_bg" ></canvas>
                <h1 class="title is-size-1 post-slow has-text-white">Osvaldo Bajaras Fierros</h1>
                <h2 id ="skills" class="subtitle is-size-2 is-family-monospace has-text-grey-darker post-v-slow">
                  {%- if page.lang == 'es' -%}es{%- else -%}en{%- endif -%}
                </h2>
            </div>
        </div>
      </div>
        
          {% comment %}
        <h4>
          <span class="is-size-4 " style="vertical-align:middle;"><i class="far fa-lg fa-address-card is-left"></i> <strong>Contacto</strong></span>
        </h4>
        {%- include social.html -%}
        {% endcomment %} 
        <footer class="hero-foot">
        </footer>
    </section>

    <!-- Begin About Me Section -->
    <section class="section is-fullheight is-primary is-bold">
        <div class='columns is-centered'>
          <div class='column is-9 is-vcentered has-text-centered text-show'>
                
                <h1 class="title"> <i class="fas fa-lg fa-id-badge"></i></h1>
                <h1 class="title">{%- if page.lang == 'es' -%} Acerca De Mi...{%- else -%} About Me... {%- endif -%}</h1>
                  <div class='px-4'>
                    {%- if page.lang == 'es' -%} 
                    <p>Soy un desarrollador quien ha experimentado con distintos lenguajes de programación y varios enfoques diferentes a lo largo de los años.</p>
                    <p>Enfocado en crear experiencias y software que sea tanto simple como directo.</p>
                    {%- else -%}
                    <p>I am a developer who has experimented with different programming languages and several different approaches over the years.</p>
                    <p>Focused on creating experiences and software that is both simple and straightforward.</p>
                    {%- endif -%}
                  </div>
          </div>
        </div>
    </section>

    <section class="section is-fullheight is-primary is-bold">
      <div class='columns is-centered'>
        <div class='column is-9'>
          <div class='columns has-vertically-aligned-content'>
            <div class="column"></div>
            
            <div class='column is-vcentered has-text-centered is-4'>
              <div class='columns is-vcentered is-gapless'>
                <div class="column"></div>
              </div>
              <div class='columns is-vcentered is-gapless'>
                <div class="column"></div>
              </div>

              <h1 class="title"><i class="fas fa-lg fa-lg fa-address-card fa-fw"></i></h1>
              <h1 class="title">{%- if page.lang == 'es' -%}Contacto{%- else -%}Contact{%- endif -%}</h1>
 

              <div class='columns is-vcentered is-gapless'>
                <div class="column"></div>
                <div class="column">
                  <span class="subtitle icon is-left" style="vertical-align:middle; display: inline-table;"><i class="far fa-lg fa-envelope fa-fw"></i></span>
                </div>
                <div class="column is-half has-text-left" style="vertical-align:middle; display: inline-table;" >
                  <a class="u-email subtitle is-size-6 is-italic" href="mailto:{{ site.email }}">calaverd.lua<wbr>@gmail.com</a>
                </div>
                <div class="column"></div>
              </div>

              <div class='columns is-vcentered is-gapless'>
                <div class="column"></div>
                <div class="column">
                  <span class="subtitle icon is-left" style="vertical-align:middle;"><i class="fab fa-lg fa-github-alt fa-fw"></i></span>
                </div>
                <div class="column is-half has-text-left" style="vertical-align:middle; display: inline-table;" >
                  <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"  class="subtitle is-size-6 is-italic"><span>{{ site.github_username| escape }}</span></a>
                </div>
                <div class="column"></div>
              </div>

              <div class='columns is-vcentered is-gapless'>
                <div class="column "></div>
                <div class="column">
                  <span class="subtitle icon is-left" style="vertical-align:middle; display: inline-table;"><i class="fab fa-lg fa-twitter fa-fw"></i></span>
                </div>
                <div class="column is-half has-text-left" style="vertical-align:middle; display: inline-table;" >
                  <a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}" class="subtitle is-size-6 is-italic"><span>{{ site.twitter_username| escape }}</span></a></li>
                </div>
                <div class="column"></div>
              </div>

              <div class='columns is-vcentered is-gapless'>
                <div class="column "></div>
                <div class="column">
                  <span class="subtitle icon is-left" style="vertical-align:middle; display: inline-table;"><i class="fab fa-lg fa-itch-io fa-fw"></i></span>
                </div>
                <div class="column is-half has-text-left" style="vertical-align:middle; display: inline-table;" >
                  <a href="https://itch.io/profile/lacalaveraverde" class="subtitle is-size-6 is-italic"><span>lacalaveraverde</span></a></li>
                </div>
                <div class="column"></div>
              </div>

            </div>
            <div class='column is-family-monospace has-text-centered'>
            </div>
            <div class="column"></div>
          </div>
        </div>
      </div>
  </section>


  {%- include footer.html -%}
  
  <script type="module">
    import * as THREE from '/assets/js/three.module.min.js';

    let camera, scene, renderer;
    let geometry, material, mesh;

    init();

    function init() {

      camera = new THREE.PerspectiveCamera( 70, window.innerWidth / window.innerHeight, 0.01, 10 );
      camera.position.z = 1;

      scene = new THREE.Scene();

      geometry = new THREE.BoxGeometry( 0.2, 0.2, 0.2 );
      material = new THREE.MeshPhongMaterial({color:0x209cee});

      mesh = new THREE.Mesh( geometry, material );
      scene.add( mesh );

      const light = new THREE.DirectionalLight(0xFFFFFF, 1);
      light.position.set(0, 0, 3);
      scene.add(light);

      //const axesHelper = new THREE.AxesHelper( 5 );
      //scene.add( axesHelper );

      scene.background = new THREE.Color(0x00d1b2);

      const canvas = document.getElementById('computer-canvas');
      renderer = new THREE.WebGLRenderer({canvas});
      renderer.setSize( window.innerWidth, window.innerHeight );
      renderer.setAnimationLoop( animation );
      document.body.appendChild( renderer.domElement );

    }

    function animation( time ) {

      mesh.rotation.x = time / 2000;
      mesh.rotation.y = time / 1000;

      

      const canvas = document.getElementById('computer-canvas');
      if (canvas.width != window.innerWidth || canvas.height != window.innerHeight ){
        if (canvas.width != window.innerWidth){
            canvas.width  = window.innerWidth;
            canvas.style.width = window.innerWidth+"px";
        }
        if (canvas.height != window.innerHeight){
            canvas.height = window.innerHeight;
            canvas.style.height = window.innerHeight+"px";
        }
        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();
        renderer.setSize( window.innerWidth, window.innerHeight );
      };

      renderer.render( scene, camera );

    }
  </script>

  <script src="/assets/js/nms_text.js"></script>
  </body>
  {%- include scripts.html -%}

</html>

