---
layout: default
---
<article class="h-entry" itemscope itemtype="http://schema.org/BlogPosting">

 <div class="columns is-centered">
  <div class="column is-full-mobile is-6-desktop text-show">
    <p class="title is-3 p-name" itemprop="headline">{{ page.title | escape }}</p>
      <p class="subtitle is-5 dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {% if page.lang == 'en' %}
            ~Posted at {{ page.date | date: "%B %d of %Y" }}
        {% endif %}

        {% if page.lang == 'es' %}
            ~Publicado el {{ page.date | date: "%d de " }}
            {% assign m = page.date | date: "%-m" %}
    {% case m %}
            {% when  '1' %}Enero
            {% when  '2' %}Febrero
            {% when  '3' %}Marzo
            {% when  '4' %}Abril
            {% when  '5' %}Mayo
            {% when  '6' %}Junio
            {% when  '7' %}Julio
            {% when  '8' %}Agosto
            {% when  '9' %}Septiembre
            {% when '10' %}Octubre
            {% when '11' %}Noviembre
            {% when '12' %}Diciembre
    {% endcase %}{{ page.date | date: "%Y" }}
        {% endif %}
      
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
          ~
       </p>

  <div class="content has-text-justified" itemprop="articleBody">
    {{ content }}
  </div>

    </div>
  </div>
  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
