extends componentes/base_layout.pug

block append head
  link(rel="stylesheet", href="./index.css")
  meta(http-equiv="refresh" content="0; url=https://calaverd-dev.blog")
  script( type="text/javascript").
    window.location.href = "https://calaverd-dev.blog"

block append body
  section( class="index-bg hero is-fullheight" aria-hidden="true")
    div(class="anicolumn-a" )
    div(class="anicolumn-b" )
    div(class="anicolumn-c" )

  section( class="index")
    div(class="sky" aria-hidden="true")#map-container
      

    .mi-hero-title#main-content
      .box
        p.title.is-size-2.is-size-3-mobile
          | Osvaldo Barajas Fierros
        p.subtitle.is-size-3.is-size-6-mobile.is-family-monospace
          | Desarrollador de Software


block append scripts
  script(type="module", src="./componentes/js/router.js")
  script(type="module", src="./componentes/js/main_page.js")
